@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  font-family: "DM sans";
}

.header h1 {
  font-weight: bold;
}

.header {  
  color : #D04F4F;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.form-group .form-control {
  border-color: rgba(231, 231, 231, 1);;
  background-color: rgba(231, 231, 231, 1);
}

.right {
  right: 0;
}

.menu{
  cursor: pointer;
  color: white;
}
#ingredients::-webkit-input-placeholder {
  color: white;
}
#appareils::-webkit-input-placeholder {
  color: white;
}
#ustensiles::-webkit-input-placeholder {
  color: white;
}
.colonne {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-items .colonne:hover  {
  cursor: pointer;
  background-color: #e7e7e731 !important;;
}

.autocomplete-active {
  background-color: #e7e7e731 !important;
}
.rechercher {
  width: 100%;
}

.card-body {
  font-size: 12px;
  background-color: #e7e7e7;
}

.card-title {
  font-size: 18px;
}

.carte p {
  margin-bottom: 0px;
  padding: 0;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}
